pysurrogate - Surrogate Models
==================================

{% include 'source/_introduction.rst' %}

Installation
==================================
{% include 'source/_installation.rst' %}

Surrogates
==================================
{% include 'source/_implementations.rst' %}

Usage
==================================
{% include 'source/_usage.rst' %}

Contact
==================================
{% include 'source/_contact.rst' %}